:root {
    --primary-color: #00558B;
    --secondary-color: #EBC55E;
    --text-color: #ffffff;
    --background-color: #EBC55E;
    --accent-color: #2B91BB;
    --hero-bg-color: #00558B;
}

body.tritanopie {
    --primary-color: #005C45;
    --secondary-color: #FF9100;
    --text-color: #ffffff;
    --background-color: #FF9100;
    --accent-color: #009b73;
    --hero-bg-color: #005C45;
}

/* ======= Progress Step Styles ======= */
.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    position: relative;
}

.progress-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #006694;
    transform: translateY(-50%);
    z-index: 0;
    border-radius: 2px;
}



.progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 33%;
    text-align: center;
}

.progress-icon {
    background-color: #dcdcdc;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.progress-step.active .progress-icon {
    background-color: #006694;
}

.progress-icon img {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s;
}

.progress-step:not(.active) .progress-icon img {
    filter: none;
}

.progress-step span {
    font-size: 14px;
    color: #555;
}

.progress-step.active span {
    font-weight: bold;
    color: #006694;
}