.hero-section {
    width: 100%;
    background: var(--hero-bg-color);
    padding: 60px 30px;
    text-align: center;
    color: white;
    position: relative;
    box-sizing: border-box;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
}


.hero-section h1 {
    font-size: 36px;
    margin: 0;
}

.hero_logo{
    height:80px;
    position:absolute;
    top:20px;
    left:20px;
}

#hero-img {
    height: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}


.legend {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.legend-color.complet {
    background-color: var(--accent-color);
}

.legend-color.incomplet {
    background-color: var(--secondary-color);
}

* {
    box-sizing: border-box;
}


.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.donut-chart {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.donut-chart svg {
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(-90deg);
}

#circle_incomplet{
    stroke : var(--secondary-color);
}

#circle_complet{
    stroke : var(--accent-color);
}


.chart-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.chart-percentage {
    font-size: 48px;
    font-weight: bold;
    color: var(--accent-color);
    line-height: 1;
}

.chart-label {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}


.pub-section {
    position: relative;
    width: 100%;
    text-align: center;
}

.pub-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.pub-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    transform: none;
    color: #002439;
    font-size: 40px;
    font-weight: bold;
}

/* === PUB TEXT TRITANOPIE === */
body.tritanopie .pub-text {
    color: #002c15;
}

/* === BOUTON TRITANOPIE=== */
#theme-toggle {
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position : relative;
    top : 0px;
    right : -15px;
    border-radius: 20px;
    border: 1.5px solid white;
}



.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #D46F4D;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* le rond commence à gauche */
    padding: 3px; /* espace intérieur */
}


/* bouton de l'interupteur */
.toggle-switch::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    transition: transform 0.3s ease;
}

#theme-toggle.active .toggle-switch{
    background-color: var(--primary-color);
}

#theme-toggle.active .toggle-switch::before {
    transform: translateX(28px);
}


.menu-toggle {
    display: none;
}


@media (max-width: 810px) {

    .menu-toggle {
        display: block;
        font-size: 28px;
        color: var(--primary-color);
        background: none;
        border: none;
        cursor: pointer;
    }
}