:root {
    --primary-color: #00558B;
    --secondary-color: #EBC55E;
    --text-color: #ffffff;
    --background-color: #EBC55E;
    --accent-color: #2B91BB;
    --hero-bg-color: #00558B;
}

body.tritanopie {
    --primary-color: #005C45;
    --secondary-color: #FF9100;
    --text-color: #ffffff;
    --background-color: #FF9100;
    --accent-color: #009b73;
    --hero-bg-color: #005C45;
}

body {
    background: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar img {
    height: 100px;
    margin-left: 20px;
    margin-top: 2px;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

li a {
    display: block;
    padding: 1em;
    background: #f0f4ff;
    color:var(--accent-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

li a:hover {
    background:var(--primary-color);
    color: #fff;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

}

main {
    flex: 1;
    max-width: 700px;
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 2em;
}

footer {

    text-align: center;
    padding: 2rem 1rem;
}
footer p {
    margin: 0;
    font-size: 14px;
}




