:root {
    --primary-color: #00558B;
    --secondary-color: #EBC55E;
    --text-color: #ffffff;
    --background-color: #EBC55E;
    --accent-color: #2B91BB;
    --hero-bg-color: #00558B;
}

body.tritanopie {
    --primary-color: #005C45;
    --secondary-color: #FF9100;
    --text-color: #ffffff;
    --background-color: #FF9100;
    --accent-color: #009b73;
    --hero-bg-color: #005C45;
}

body {
    background: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar img {
    height: 100px;
    margin-left: 20px;
    margin-top: 2px;
}



main {
    max-width: 700px;
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 2em;
}


h1 {
    text-align: center;
    color: var(--primary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

li a {
    display: block;
    padding: 1em;
    background: #f0f4ff;
    color:var(--accent-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

li a:hover {
    background:var(--primary-color);
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

}

main {
    flex: 1;
    max-width: 700px;
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 2em;
}

footer {

    text-align: center;
    padding: 2rem 1rem;
}
footer p {
    margin: 0;
    font-size: 14px;
}

#help-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2em;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

#help-popup {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: none;
    z-index: 999;
}

.help-popup-header {
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.help-popup-header button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.help-popup-body {
    padding: 15px;
}

.help-popup-body ul {
    padding-left: 20px;
    margin: 0;
}

.help-popup-body li {
    margin-bottom: 10px;
}




